# PUBG Kaggle Competition

# Data Pre-processing

In [50]:
#Code by Joleena M.
%matplotlib inline

print(__doc__)

import numpy as np
import scipy as sp
import pandas as pd

from sklearn import datasets
from sklearn.model_selection import train_test_split # Used to split the dataset effeciently
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.externals.six import StringIO

#read the csv into a dataframe
df = pd.read_csv('Documents/pubg-seer/pubgdataset/train_V2.csv')

Automatically created module for IPython interactive environment

In [ ]:
df.head()

In [ ]:
df.count()

In [51]:
#Drops all objects with NAs
df2 = df.dropna()
df2.count()

Id                 4446965
groupId            4446965
matchId            4446965
assists            4446965
boosts             4446965
damageDealt        4446965
DBNOs              4446965
headshotKills      4446965
heals              4446965
killPlace          4446965
killPoints         4446965
kills              4446965
killStreaks        4446965
longestKill        4446965
matchDuration      4446965
matchType          4446965
maxPlace           4446965
numGroups          4446965
rankPoints         4446965
revives            4446965
rideDistance       4446965
roadKills          4446965
swimDistance       4446965
teamKills          4446965
vehicleDestroys    4446965
walkDistance       4446965
weaponsAcquired    4446965
winPoints          4446965
winPlacePerc       4446965
dtype: int64

In [52]:
#Combines walkDistance, swimDistance, and rideDistance into totalDistance
df2['totalDistance'] = df2['walkDistance'] + df2['swimDistance'] + df2['rideDistance']
df2.head()

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc,totalDistance
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0.0000,0,0.00,0,0,244.80,1,1466,0.4444,244.8000
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0.0045,0,11.04,0,0,1434.00,5,0,0.6400,1445.0445
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0.0000,0,0.00,0,0,161.80,2,0,0.7755,161.8000
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0.0000,0,0.00,0,0,202.70,3,0,0.1667,202.7000
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0.0000,0,0.00,0,0,49.75,2,0,0.1875,49.7500

In [53]:
#Drops walkDistance, rideDistance, and swimDistance attributes
df3 = df2.drop(columns=['walkDistance', 'rideDistance', 'swimDistance'])
df3.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,numGroups,rankPoints,revives,roadKills,teamKills,vehicleDestroys,weaponsAcquired,winPoints,winPlacePerc,totalDistance
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,26,-1,0,0,0,0,1,1466,0.4444,244.8000
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,25,1484,0,0,0,0,5,0,0.6400,1445.0445
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,47,1491,0,0,0,0,2,0,0.7755,161.8000
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,30,1408,0,0,0,0,3,0,0.1667,202.7000
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,95,1560,0,0,0,0,2,0,0.1875,49.7500

In [ ]:
#One hot encodes matchType
#one_hot = pd.get_dummies(df3['matchType'])

In [ ]:
#df3 = df3.drop('matchType',axis = 1)

In [54]:
# PlayersJoined feature
df3['playersJoined'] = df3.groupby('matchId')['matchId'].transform('count')

# Normalized features
df3['killsNorm'] = df3['kills']*((100-df3['playersJoined'])/100 + 1)
df3['damageDealtNorm'] = df3['damageDealt']*((100-df3['playersJoined'])/100 + 1)
df3['maxPlaceNorm'] = df3['maxPlace']*((100-df3['playersJoined'])/100 + 1)
df3['matchDurationNorm'] = df3['matchDuration']*((100-df3['playersJoined'])/100 + 1)
df3 = df3.drop('matchType',axis = 1)
df3 = df3.drop('Id',axis = 1)
df3 = df3.drop('groupId',axis = 1)
df3 = df3.drop('matchId',axis = 1)

In [ ]:
#df3 = df3.join(one_hot)
df3

In [ ]:
df3.head()

In [55]:
y = df3.pop('winPlacePerc').values
X = df3.values

# K-NN Model

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline


X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.8, random_state=0)

model = KNeighborsRegressor(n_neighbors = 3)

In [57]:
model.fit( X_train , y_train )

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=2,
          weights='uniform')

In [59]:
print (model.score( X_train , y_train ) , model.score( X_valid , y_valid ))

(0.8864080405646904, 0.7702806941118927)

### Making test csv match train csv dimensions

In [63]:
test = pd.read_csv('Documents/pubg-seer/pubgdataset/test_V2.csv')

#Drops all objects with NAs
test2 = test.dropna()

#Combines walkDistance, swimDistance, and rideDistance into totalDistance
test2['totalDistance'] = test2['walkDistance'] + test2['swimDistance'] + test2['rideDistance']
test3 = test2.drop(columns=['walkDistance', 'rideDistance', 'swimDistance'])

In [64]:
# PlayersJoined feature
test3['playersJoined'] = test3.groupby('matchId')['matchId'].transform('count')

# Normalized features
test3['killsNorm'] = test3['kills']*((100-test3['playersJoined'])/100 + 1)
test3['damageDealtNorm'] = test3['damageDealt']*((100-test3['playersJoined'])/100 + 1)
test3['maxPlaceNorm'] = test3['maxPlace']*((100-test3['playersJoined'])/100 + 1)
test3['matchDurationNorm'] = test3['matchDuration']*((100-test3['playersJoined'])/100 + 1)
test3 = test3.drop('matchType',axis = 1)
test3 = test3.drop('groupId',axis = 1)
test3 = test3.drop('matchId',axis = 1)
test3.head()

,Id,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,...,teamKills,vehicleDestroys,weaponsAcquired,winPoints,totalDistance,playersJoined,killsNorm,damageDealtNorm,maxPlaceNorm,matchDurationNorm
0,9329eb41e215eb,0,0,51.46,0,0,0,73,0,0,...,0,0,1,0,588.0,92,0.00,55.5768,30.24,2034.72
1,639bd0dcd7bda8,0,4,179.10,0,0,2,11,0,2,...,0,0,6,0,6686.0,96,2.08,186.2640,49.92,1883.44
2,63d5c8ef8dfe91,1,0,23.40,0,0,4,49,0,0,...,0,0,4,0,787.8,94,0.00,24.8040,29.68,1900.58
3,cf5b81422591d1,0,0,65.52,0,0,0,54,0,0,...,0,0,3,0,1812.0,89,0.00,72.7272,49.95,2035.74
4,ee6a295187ba21,0,4,330.20,1,2,1,7,0,3,...,0,0,4,0,2963.0,95,3.15,346.7100,29.40,1392.30

In [66]:
#Print out predictions.csv
ids = test3['Id']
predictions = model.predict(test3.drop('Id', axis=1))

output = pd.DataFrame({'Id':ids, 'winPlacePerc':predictions})
output.to_csv('predictions.csv',index=False)

## Naive Bayes

In [67]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

In [69]:
nb.fit( X_train , y_train )

ValueError: Unknown label type: (array([0.    , 0.0101, 0.0102, ..., 0.9898, 0.9899, 1.    ]),)